# Node modules
DataViewerApp/node_modules/

# Build outputs
DataViewerApp/dist/
MicrosoftDataApi/MicrosoftDataApi/bin/
MicrosoftDataApi/MicrosoftDataApi/obj/

# Environment files
.env

# IDE specific files
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
