.page-container {
    height: calc(100vh - 60px);
    padding: 30px 0;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    margin-bottom: 50px;
    width: 70%;
}

.heading-title {
    color: #333;
    font-size: 28px;
}

.heading-button {
    padding: 10px 20px;
}

.repos-parent {
    margin-left: 30px;
    padding-right: 10px;
    width: 70%;
    height: calc(100% - 90px);
    overflow: auto;
}

.content-box {
    padding: 20px;
    margin-bottom: 30px;
    color: #333;
    font-size: 18px;
}

.mb {
    margin-bottom: 20px;
}

.mb-35 {
    margin-bottom: 35px;
}

.me-10 {
    margin-right: 10px;
}

.bold {
    font-weight: bold;
}

.edit-footer {
    display: flex;
    justify-content: flex-end;
}

.edit-button {
    padding: 3px 6px;
    font-size: 14px;
}

.description-input {
    width: calc(100% - 13px);
    padding: 5px;
    padding-bottom: 30px;
}
